[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyproxyLogs"]
	path = shinyproxyLogs
	url = https://github.com/tsenegas/shinyproxylogs
